<footer>
  <span>
 
   
   <div class="social-icons">
   <a href="mailto:marta.facchini@utu.fi"><i class="fas fa-envelope" style="margin-right: 20px;" ></i> </a>
<a href="https://bsky.app/profile/mfacchini.bsky.social"><i class="fab fa-bluesky" style="margin-right: 20px;"></i> </a>

 <a href="https://github.com/martafacchini"><i class="fa-brands fa-github" style="margin-right: 20px;"></i> </a> 

<a href="https://scholar.google.fr/citations?user=RnxMiQ0AAAAJ&hl=en&oi=ao"><i class="fa-solid fa-graduation-cap" ></i> </a>
</div>

  <p>© 2025 Marta Facchini</p>
  </span>
  </footer>
  
   <style> 
  .footer .social-icons {
  text-align: right; /* Align icons to the right */
  margin-top: 10px; /* Adjust spacing as needed */
}
.footer .social-icons a {
  margin-left: 10px; /* Space between icons */
}
  <style>
  


<!-- <a href="https://t.co/2Ap7KiHLH6"><i class="fa-solid fa-square" style="margin-right: 20px;"></i> </a> -->


